if BOARD_LITEX_VEXRISCV_SMP 

config BOARD
	default "litex_vexrisc_smp"

if NETWORKING

config NET_L2_ETHERNET
        default y

endif # NETWORKING

config SPI
	default y

config RISCV_HAS_PLIC
	default y

endif # BOARD_LITEX_VEXRISCV_SMP
