*.fd
*.aux
*.bbl
*.blg
*.brf
*.dtx
*.fls
*.lof
*.lot
*.log
*.out
*.gz
*.toc
*.fdb_latexmk
*.cut
*.tar # For docker image builds
.DS_Store

build/
__pycache__/

*.o
*.d
*.bin
*.elf
*.map

test_files/
Project/cluster_network/docker-images/client-image.tar
Project/cluster_network/docker-images/server-image.tar
Project/cluster_network/docker-images/tester-image.tar

workspace.json
*.db # ignore collected metrics
data/
*results/
Project/cluster_network/docker-images/test_results.json
*workspace.json
