# Copyright (c) 2018 - 2019 Antmicro <www.antmicro.com>
# SPDX-License-Identifier: Apache-2.0

config SOC_LITEX_VEXRISCV_SMP
	bool "Digilent Arty A7-35T system implementation"
	select RISCV
	select RISCV_HAS_PLIC
	select RISCV_PRIVILEGED
	select RISCV_GP
	select ATOMIC_OPERATIONS_BUILTIN
	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_A
	select RISCV_ISA_EXT_C
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI
	select SMP
	select INCLUDE_RESET_VECTOR
	imply XIP


if SOC_LITEX_VEXRISCV_SMP

config LITEX_CSR_DATA_WIDTH
        int "Select Control/Status register width"
        default 32

endif # SOC_LITEX_VEXRISCV_SMP
