if SOC_LITEX_VEXRISCV_SMP

config SMP
	default y 

config RISCV_HAS_CPU_IDLE
	bool

config RISCV_HAS_PLIC
	bool

config NUM_IRQS
    default 16

#config REBOOT
#        depends on DT_HAS_LITEX_SOC_CONTROLLER_ENABLED
#        default y

endif # SOC_LITEX_VEXRISCV_SMP

